<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Project List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-padding-horizontal">Available Projects</h2>
  <ion-card color="primary">
    <ion-card-header class="ion-text-center ion-no-padding ion-padding-top">
      <ion-card-subtitle>
        <ion-icon name="timer"></ion-icon> Today - 10:30PM <ion-icon name="trash" class="delete_icon"></ion-icon>
      </ion-card-subtitle>  
    </ion-card-header>
    <ion-card-content>
      Web Rededign
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary">
    <ion-card-header class="ion-text-center ion-no-padding ion-padding-top">
      <ion-card-subtitle>
        <ion-icon name="timer"></ion-icon> Today - 10:30PM <ion-icon name="trash" class="delete_icon"></ion-icon>
      </ion-card-subtitle>  
    </ion-card-header>
    <ion-card-content>
     Site Changes
    </ion-card-content>
  </ion-card>
  <ion-card color="tertiary">
      <ion-card-header class="ion-text-center ion-no-padding ion-padding-top">
        <ion-card-subtitle>
          <ion-icon name="timer"></ion-icon> Today - 10:30PM <ion-icon name="trash" class="delete_icon"></ion-icon>
        </ion-card-subtitle>  
      </ion-card-header>
      <ion-card-content>
       Code Verification
      </ion-card-content>
    </ion-card>
</ion-content>