<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Task Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="taskDetails">
  <ion-card>
    <ion-row>
      <ion-col size="12" class="ion-padding-start ion-padding-top">
        <ion-icon name="square" color="tertiary"></ion-icon> In Progress
      </ion-col>
      <ion-col size="12" class="ion-text-right">
        <img src="../../assets/imgs/1.jpg" class="setUserImg">
        <img src="../../assets/imgs/3.jpg" class="setUserImg">
        <img src="../../assets/imgs/2.jpg" class="setUserImg">
        <img src="../../assets/imgs/4.png" class="setUserImg">
      </ion-col>
      <ion-col size="12" class="ion-padding-start">
        Web Redesign
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-icon name="timer"></ion-icon> Today - 10:30PM
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col size="12" class="ion-padding-start ion-padding-top">
        <ion-icon name="square" color="success"></ion-icon> Complete
      </ion-col>
      <ion-col size="12" class="ion-text-right">
        <img src="../../assets/imgs/1.jpg" class="setUserImg">
        <img src="../../assets/imgs/2.jpg" class="setUserImg">
        <img src="../../assets/imgs/3.jpg" class="setUserImg">
        <img src="../../assets/imgs/4.png" class="setUserImg">
      </ion-col>
      <ion-col size="12" class="ion-padding-start">
        Site Changes
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-icon name="timer"></ion-icon> Today - 12:30PM
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>