<!-- <ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="login-5">
  <!-- <div class="firstDiv ion-padding">
    <h5 class="ion-padding-top">Welcome</h5>
    <h1>Sign In</h1>
  </div>
  <ion-row class="loginForm ion-padding">
    <ion-col size="12" clsas="ion-padding">
      <ion-item class="ion-no-padding email">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" clsas="ion-padding">
      <ion-item class="ion-no-padding ion-margin-top">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-padding ion-text-center">
      <ion-button fill="clear">Forgot Password ?</ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button expand="block" mode="ios">Sign In</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="signUP">
    <ion-col size="12" class="ion-padding ion-text-center">
      <ion-text color="medium">Don't have an account?</ion-text>
      <ion-text> Sign In </ion-text>
    </ion-col>
  </ion-row> -->

  <div class="firstDiv ion-padding">
    <h5 class="ion-padding-top">Welcome</h5>
    <h1>Sign Up</h1>
  </div>
  <ion-row class="loginForm ion-padding">
    <ion-col size="12" clsas="ion-padding">
      <ion-item class="ion-no-padding email">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" clsas="ion-padding">
      <ion-item class="ion-no-padding ion-margin-top">
        <ion-label position="floating">Number</ion-label>
        <ion-input type="number" name="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" clsas="ion-padding">
      <ion-item class="ion-no-padding ion-margin-top">
        <ion-label position="floating">Address</ion-label>
        <ion-input type="address" name="address"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-text-center ion-margin-top">
      <ion-button expand="block" mode="ios">Sign Up</ion-button>
    </ion-col>
  </ion-row>
</ion-content>