<ion-header>
  <ion-toolbar>
    <ion-title>Native Functionality</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" text-center>
      <ion-button (click)="check_Folder()">
        Check Folder and create file
      </ion-button>
    </ion-col>
    <ion-col size="12" text-center>
      <ion-button (click)="chooseOptions()">
        Change Image
      </ion-button>
    </ion-col>
    <ion-col size="12" text-center>
      <ion-button (click)="chooseMultipleImages()">
        Select Multiple Images
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>