<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Task List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tasklist">
  <ion-row class="small-padding">
    <ion-col size="12" size-lg="6" size-xl="3" size-md="6">
      <p class="add_icon_buttons">
        <ion-icon name="add"></ion-icon>
      </p>
      <ion-card color="primary" class="ion-no-margin">
        <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top">
          <ion-card-subtitle>Web Redesign</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content mode="ios">
          <img src="../../assets/imgs/3.jpg" class="setUserImg">
          <img src="../../assets/imgs/1.jpg" class="setUserImg">
          <img src="../../assets/imgs/4.png" class="setUserImg">
          <img src="../../assets/imgs/2.jpg" class="setUserImg">
        </ion-card-content>
        <ion-row class="ion-padding-horizontal ion-padding-bottom">
          <ion-col size="8">
            <ion-icon name="timer"></ion-icon> Today - 10:30PM
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="pin"></ion-icon> 2
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="eye"></ion-icon> 3
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="6" size-xl="3" size-md="6">
      <p class="add_icon_buttons">
        <ion-icon name="add"></ion-icon>
      </p>
      <ion-card color="secondary" class="ion-no-margin">
        <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top">
          <ion-card-subtitle>Web Redesign</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content mode="ios">
          <img src="../../assets/imgs/3.jpg" class="setUserImg">
          <img src="../../assets/imgs/2.jpg" class="setUserImg">
          <img src="../../assets/imgs/1.jpg" class="setUserImg">
          <img src="../../assets/imgs/4.png" class="setUserImg">
        </ion-card-content>
        <ion-row class="ion-padding-horizontal ion-padding-bottom">
          <ion-col size="8">
            <ion-icon name="timer"></ion-icon> Today - 10:30PM
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="pin"></ion-icon> 2
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="eye"></ion-icon> 3
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="6" size-xl="3" size-md="6">
      <p class="add_icon_buttons">
        <ion-icon name="add"></ion-icon>
      </p>
      <ion-card color="success" class="ion-no-margin">
        <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top">
          <ion-card-subtitle>Web Redesign</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content mode="ios">
          <img src="../../assets/imgs/1.jpg" class="setUserImg">
          <img src="../../assets/imgs/2.jpg" class="setUserImg">
          <img src="../../assets/imgs/3.jpg" class="setUserImg">
          <img src="../../assets/imgs/4.png" class="setUserImg">
        </ion-card-content>
        <ion-row class="ion-padding-horizontal ion-padding-bottom">
          <ion-col size="8">
            <ion-icon name="timer"></ion-icon> Today - 10:30PM
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="pin"></ion-icon> 2
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="eye"></ion-icon> 3
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="6" size-xl="3" size-md="6">
      <p class="add_icon_buttons">
        <ion-icon name="add"></ion-icon>
      </p>
      <ion-card color="tertiary" class="ion-no-margin">
        <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top">
          <ion-card-subtitle>Web Redesign</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content mode="ios">
          <img src="../../assets/imgs/4.png" class="setUserImg">
          <img src="../../assets/imgs/1.jpg" class="setUserImg">
          <img src="../../assets/imgs/3.jpg" class="setUserImg">
          <img src="../../assets/imgs/2.jpg" class="setUserImg">
        </ion-card-content>
        <ion-row class="ion-padding-horizontal ion-padding-bottom">
          <ion-col size="8">
            <ion-icon name="timer"></ion-icon> Today - 10:30PM
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="pin"></ion-icon> 2
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="eye"></ion-icon> 3
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>