<ion-content>
  <ion-row class="ion-align-items-center login6Page">
    <ion-col size="10" offset="1" class="ion-align-self-center ion-padding">
      <ion-item class="ion-no-padding ion-margin-bottom">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-bottom">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button shape="round" fill="outline" expand="block">SUBMIT</ion-button>
      <ion-button shape="round" fill="clear" expand="block" class="ion-padding-vertical">FORGOT PASSWORD ?</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="ion-padding-vertical">
    <ion-col size="12" class="ion-text-center">
      Create new account ? Click <a routerLink="">here</a>
    </ion-col>
  </ion-row>
</ion-footer>