<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>PDF Demo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportPdf()">Export Pdf</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="printable-content">
    <div class="printable-area" id="printable-area">
      <table class="header-table">
        <tr>
          <td width="40%" class="title"><img src="../../assets/imgs/1.jpg" alt="logo" height="40px" /></td>
          <td width="60%">
            <table width="100%">
              <tr>
                <td width="50%">+677-12332-1222</td>
                <td width="50%">Your Address 1st</td>
              </tr>
              <tr>
                <td>your@email.com</td>
                <td>City, State, Country</td>
              </tr>
              <tr>
                <td>yourwebsite.com</td>
                <td>Post Code</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <h1>Invoice</h1>
      <table class="subheader-table">
        <tr>
          <td width="30%">
            <dt>Billed To:</dt>
            <dd>Client Name</dd>
            <dd>Address 1st Line</dd>
            <dd>City, State, Country</dd>
            <dd>Post Code</dd>
          </td>
          <td width="30%">
            <dt>Invoice Number:</dt>
            <dd>009223-222</dd>
          </td>
          <td width="40%">
            <dt>Invoice Total:</dt>
            <dd>$6.600</dd>
          </td>
        </tr>
      </table>
      <h3>Invoice Details</h3>
      <table class="detail-table">
        <tr>
          <th width="50%">Description</th>
          <th width="20%">Unit Price</th>
          <th width="10%">Qty</th>
          <th width="20%">Amount</th>
        </tr>
        <tr>
          <td>Apple Macbook Pro Retina 2018</td>
          <td>$4.500</td>
          <td>1</td>
          <td>$4.500</td>
        </tr>
        <tr>
          <td>Apple Mouse Bluetooth</td>
          <td>$500</td>
          <td>1</td>
          <td>$500</td>
        </tr>
        <tr>
          <td>Apple Cinema Display</td>
          <td>$1.000</td>
          <td>1</td>
          <td>$1.000</td>
        </tr>
      </table>
      <table class="footer-table">
        <tr>
          <td width="80%">Sub Total: </td>
          <td width="20%">$6.000</td>
        </tr>
        <tr>
          <td>Tax: </td>
          <td>$600</td>
        </tr>
      </table>
    </div>
  </div>

  <div #content class="content">
    <h1>Jacent Canada Inc.</h1>
    <span>
      500 New Enterprise Way - ON - L4HOR3 - 9052643700
    </span>
    <br />
     <br />
      <br />
    <div style="margin-left:50px">
      <h3>1007 PUSATERI'S SHERWAY LTD.</h3>
      <p>25 THE WEST MALL</p>
      <p>ETPBICOKE ON ON</p>
    </div>
  
  <br />
    <div>
      <table style="margin-left:50px">
        <thead>
          <tr>
            <th>Order No.</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>Device</th>
            <th>Terms</th>
            <th>Taken By</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1A41794G
            </td>
            <td>
              Nov 26, 2019
            </td>
            <td>
              Nov 26, 2019
            </td>
            <td>
             jacent.fasto360.com
            </td>
            <td>
             00
            </td>
            <td>
             Bhavik Mehta
            </td>
          </tr>
        </tbody>
      </table>
  <br />
  <br />
       <table>
        <thead>
          <tr>
            <th>Item No.</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Extension</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              010199150202UPC
            </td>
            <td>
              High GRADE COPY PAPER 8.5X
            </td>
            <td>
              1.00
            </td>
            <td>
             10
            </td>
            <td>
            10
            </td>
          </tr>
        </tbody>
        <br />
        <tbody>
          <tr >
            <td>
              Sub-Total
            </td>
            <th>
              10
            </th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>
              Total
            </td>
            <th>
              10
            </th>
          </tr>
            <br />
          <tr style="text-align:left;">
            <th>Notes</th>
          </tr>
          <tr>
            <td>Notes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</ion-content>