<!-- <ion-content color="tertiary" class="listPage">
  <ion-grid>
    <ion-row align-items-center class="setfullHeight">
      <ion-col size="12" text-center align-self-center>
        <img src="../../assets/icon/favicon.png" />
      </ion-col>
      <ion-col size="10" offset="1" align-self-end class="setButtons">
        <ion-button expand="block" color="light" margin-bottom>
          <ion-text color="tertiary">Sign In</ion-text>
        </ion-button>
        <ion-button expand="block" color="tertiary" fill="clear">
          <ion-text color="light">Sign up</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content class="loginPage">
  <ion-row align-items-start class="set-first-row-height">
    <ion-col size="12" text-center align-self-center>
      <img src="../../assets/icon/favicon.png" />
    </ion-col>
  </ion-row>
  <ion-row class="set-second-row-height">
    <ion-col size="10" offset="1" align-self-center>
      <ion-item color="primary-contrast" no-padding margin-horizontal>
        <ion-label position="stacked">
          <ion-text color="tertiary">Username</ion-text>
        </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="primary-contrast" no-padding margin-horizontal>
        <ion-label position="stacked">
          <ion-text color="tertiary">Password</ion-text>
        </ion-label>
        <ion-input type="password"></ion-input>
        <ion-icon name="eye" class="set-icon"></ion-icon>
      </ion-item>
      <p text-center padding no-margin>
        <ion-button color="tertiary" expand="block">
          <ion-text color="light">Login in</ion-text>
        </ion-button>
      </p>
      <p text-center no-margin>
        <ion-text color="medium">Forgot your password?</ion-text>
      </p>
    </ion-col>
  </ion-row>
</ion-content>