.registerPage {
  --overflow: hidden;
  --background: var(--ion-color-primary);
  ion-item {
    --ion-color-shade: transparent;
    --color-focused: transparent;
  }
}
.closeIcon {
  margin-right: 30px;
}
.registerAccount {
  margin-left: 30px;
}
