<ion-header mode="ios">
  <ion-toolbar color="light_blue" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" text-center class="setCol-1">
      <img src="../../assets/icon/favicon.png" />
    </ion-col>
    <ion-col size="10" offset="1" size-md="8" offset-md="2"  class="setCol-2" no-padding>
      <ion-card no-margin class="set-card">
        <ion-item no-padding margin>
          <ion-label position="floating">Username</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item no-padding margin>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="6" offset="3" class="setCol-3" no-padding>
      <ion-button expand="block" color="light_blue" margin-bottom>
        Login
      </ion-button>
      <p text-center no-margin no-padding class="set-bottom">
        <ion-text color="light_blue">Forgot password</ion-text>
      </p>
      <p text-center no-margin no-padding>Don't have account ? <ion-text color="light_blue">Sign up</ion-text>
      </p>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col text-center>
      <ion-card color="light_blue" no-padding no-margin padding-bottom>
        <ion-badge color="light" style="position: absolute;right: 7px;top: 7px;">10</ion-badge>
        <ion-icon name="eye" style="font-size:3.5rem"></ion-icon>
        <h3 text-center no-padding no-margin>Manage</h3>
      </ion-card>
    </ion-col>
    <ion-col text-center>
      <ion-card color="light_blue" no-padding no-margin padding-bottom padding-horizontal>
        <ion-icon name="folder-open" style="font-size:3.5rem"></ion-icon>
        <h3 text-center no-padding no-margin>Manage</h3>
        <ion-button color="light" expand="block">
          <ion-text color="light_blue">Intents</ion-text>
        </ion-button>
        <ion-button color="light" expand="block">
          <ion-text color="light_blue">Entities</ion-text>
        </ion-button>
        <ion-button color="light" expand="block">
          <ion-text color="light_blue">Dailog</ion-text>
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row> -->
</ion-content>