<ion-header mode="ios">
    <ion-toolbar mode="ios" class="costomColorOrange">
        <ion-title color="light">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-no-padding setBGColor">
        <ion-col class="ion-no-padding ion-text-center" size="12">
            <img src="../../assets/icon/favicon.png" class="setmargin_top">
        </ion-col>
        <ion-col class="ion-padding ion-text-right" size="12">
            <p class="setFontSize ion-no-margin">
                <ion-text color="light">Login</ion-text>
            </p>
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
        <ion-col size="10" offset="1" class="ion-margin-top">
            <ion-item class="ion-no-padding ion-no-margin">
                <ion-label position="floating">Email</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-col>

        <ion-col size="10" offset="1" class="ion-margin-top">
            <ion-item class="ion-no-padding ion-no-margin">
                <ion-label position="floating">
                    <ion-text color="dark">Password</ion-text>
                </ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="10" offset="1" class="ion-text-right">
            <ion-button size="small" fill="clear">Forgot Password ?</ion-button>
        </ion-col>

        <ion-col size="10" offset="1" class="ion-margin-top">
            <ion-button shape="round" expand="block" class="costomColorOrange setRadius">Login</ion-button>
        </ion-col>
    </ion-row>

    <ion-row class="setBottom">
        <ion-col class="ion-text-center" size="12">
            Dont't have an account?
            <span class="set_text_color">Register</span>
        </ion-col>
    </ion-row>
</ion-content>